yolo-model/runs/segment/
yolo-model/wandb/
yolo-model/runs/detect/

yolo-model/color_extraction/runs/segment/

yolo-model/symph_inference/symph_batch/
yolo-model/unseen_inference_testing/camo_batch/
yolo-model/unseen_inference_testing/discarded_batch/

results-and-images/

*.pt
dragonfly_forms_reliability/responses/

*.csv
geo_statistics/maps/

wandb/
**/wandb/

runs/
**/runs/